<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4. Exception Handling</title>
</head>
<body>
    <h1>4. Exception Handling</h1>

    <h2>@ExceptionHandler로 controller별로 예외처리</h2>
    <button th:onclick="|location.href = '@{/errorsome}'|">예외유발</button>

    <h2>@ControllerAdvice + @ExceptionHandler로 전역에서 예외처리</h2>
    <button th:onclick="|location.href = '@{/other/errorsome}'|">예외유발</button>
    <button th:onclick="|location.href = '@{/other/foo?value=-100}'|">입력값 예외유발</button>
</body>
</html>