<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3. View Resolver</title>
</head>
<body>
    <h1>3. View Resolver</h1>

    <h2>문자열 ViewName으로 forward처리하기</h2>
    <button onclick="location.href='/app/string-forward';">실행</button>
    <!-- ; 여러개 쓸 때 -->
    <h2>문자열 ViewName으로 forward처리하기</h2>
    <button onclick="location.href='/app/string-redirect';">실행</button>

    <h2>redirect시에 데이터 전달하기 - RedirectAttribute#addFlachAttribute</h2>
    <button onclick="location.href = '/app/string-redirect-flash';">실행</button>

    <h2>redirect시에 데이터 전달하기 - RedirectAttribute#addAttribute</h2>
    <button onclick="location.href = '/app/string-redirect-param';">실행</button>

    <h2>ModelAndView로 forward처리하기</h2>
    <button onclick="location.href='/app/mav-forward';">실행</button>
    <!-- ; 여러개 쓸 때 -->
    <h2>ModelAndView로 redirect처리하기</h2>
    <button onclick="location.href='/app/mav-redirect';">실행</button>

    <h2>redirect시에 데이터 전달하기 - RedirectAttribute#addFlachAttribute</h2>
    <button onclick="location.href = '/app/mav-redirect-flash';">실행</button>

    <h2>redirect시에 데이터 전달하기 - RedirectAttribute#addAttribute</h2>
    <button onclick="location.href = '/app/mav-redirect-param';">실행</button>


    <script>
        // redirect 이후 flashMessage가 추가된 경우
        const flashMessage = `[[${flashMessage}]]`; // redirect 이후 flashMessage가 추가된 경우만 데이터가 담길 거예요
        flashMessage && alert(flashMessage); // true로 평가될 때만 alert해주세요

        // redirect 이후 ?paramMessage=🍞🍞🍞이 작성된 경우
        const paramMessage = `[[${param.paramMessage}]]`;
        paramMessage && alert(paramMessage);
    </script>

</body>
</html>