<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 필드명과 컬럼명이 일치하지 않는 문제를 맵핑해서 연결 -->
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/menudb"/>
                <property name="username" value="sh"/>
                <property name="password" value="sh"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="sql/menu/menu-mapper.xml"/> <!-- 쿼리 셋팅: resources 밑의 파일 경로를 작성 -->
    </mappers>
</configuration>