<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>etc</title>
</head>
<body>
    <h1>etc</h1>
    <h2>변수 선언 th:with</h2>
    <!-- 특정범위에 사용가능한 변수를 선언할 수 있다 -->
    <th:block th:with="start=${pageCriteria.startPage}, last=${pageCriteria.lastPage}, current=${pageCriteria.currentPage}">
        <th:block th:each="n : ${#numbers.sequence(start, last)}">
            <button th:if="${n eq current}" disabled>[[${current}]]</button>
            <button th:if="${n ne current}" th:onclick="|alert(${n})|">[[${n}]]</button>
        </th:block>
    </th:block>

    <h2>Basic Object</h2>
    <a href="https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#expression-basic-objects">https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#expression-basic-objects</a>
    <ul>
<!--        <li th:text="${#ctx}"></li>-->
        <li th:text="${#ctx.request}">Request 속성맵</li>
        <li th:text="${#ctx.session}">Session 속성맵</li>
        <li th:text="${#ctx.application}">ServletContext 속성맵</li>
    </ul>

    <h2>Utility Object</h2>
    <a href="https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#expression-utility-objects">https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#expression-utility-objects</a>

    <h3>#temporals</h3>
    <ul>
        <li th:text="${#temporals.createNow()}">LocalDateTime</li>
        <li th:text="${#temporals.createToday()}">LocalDate</li>
    </ul>

    <h3>#numbers</h3>
    <ul>
        <li th:text="${#numbers.formatInteger(1234567890, 3, 'COMMA')}"></li>
    </ul>

    <h3>#strings</h3>
    <ul>
        <li th:if="${#strings.contains(str, '나')}" th:text="나나나나"></li>
        <li th:text="${#strings.replace(str, '나', '밤')}"></li>
    </ul>

    <h3>#lists</h3>
    <ul>
        <li th:if="${!#lists.isEmpty(members)}" th:text="|회원이 존재합니다.|"></li>
        <li th:text="|${#lists.size(members)}명의 회원이 존재합니다.|"></li>
        <li th:text="|${members.size()}명의 회원이 존재합니다.|"></li>
    </ul>

    <h2>SpringEL</h2>
    <!--
        Spring Expression Language (스프링 표현식)
        - 메소드 호출, 속성참조등의 기능 수행
        - 단순객체뿐 아니라, List,Map등에 대해서도 처리할 수 있다.
        - 객체 참조시 OGNL Object Graph Navigation Language 규격에 맞추어 사용할 수 있다.
            - 객체의 속성참조시 직접 필드에 접근하는 대신 setter/getter를 이용하는 방식
            - 메소드이름은 set/get을 제외하고 소문자로 시작하는 이름이 된다.
    -->
    <h3>Object</h3>
    <ul>
        <li th:text="${member.name}"></li><!-- OGNL방식으로 호출(property호출방식) -->
        <li th:text="${member['name']}"></li><!-- OGNL방식으로 호출(property호출방식) -->
        <li th:text="${member.getName()}"></li>
    </ul>

    <h3>List</h3>
    <ul>
        <li th:text="${members[1]}"></li>
        <li th:text="${members[1].name}"></li>
        <li th:text="${members[1]['name']}"></li>
        <li th:text="${members.get(1)['name']}"></li>
    </ul>

    <h3>Map</h3>
    <ul>
        <li th:text="${memberMap.leess}"></li>
        <li th:text="${memberMap['leess']}"></li>
        <li th:text="${memberMap['leess'].name}"></li>
    </ul>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>