<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    property: 하위에서 사용할 변수 선언-->
<!--    logs 폴더를 생성하고 LOG_DIR property#value에 지정-->
    <property name="LOG_DIR" value="C:/workspace/spring_workspace/KuMinsang/02-spring-webmvc/_04_exception_handling/logs"/>
    <property name="LOG_FILE_NAME" value="spring"/>

<!--    appender : 실제 로그를 수행할 객체-->
<!--    ConsoleAppender : 수집된 로그를 콘솔에 출력하라-->
<!--    RollingFileAppender : 일정 기간동안 수집된 로그를 파일로 저장하여 관리-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ] %cyan(%logger{20}) : %msg%n </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative --- [ %thread{10} ] %logger{35} - %msg%n</pattern>
        </encoder>
<!--        FileNamePattern의 시간단위에 따라 별도의 로그 파일을 생성한다. 분단위까지 작성하면, 분단위 로그파일이 작성된다.-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}.%d{yyyy-MM-dd_HH-mm}.log.gz</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

<!--    looger (root) : 특정 패키지별로 수집할 로그 설정, 출력할 Appender를 연결-->
    <logger name="org.springframework" level="info"/>
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>