<!DOCTYPE html>
<!--/*<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}"> */-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style layout:fragment="style">
        main{
            font-size : 200px
        }
    </style>
</head>
<body>
    <div layout:fragment="content">
        [[${id}]]🍌🍌🍌🍌🍌🍌
    </div>
    <script layout:fragment="script">
        console.log('🔞🔞🔞🔞🔞')
    </script>
</body>
</html>