<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh._01_spring_mybatis.menu.model.dao.MenuMapper">
    <resultMap id="menuDtoMap" type="com.sh._01_spring_mybatis.menu.model.dto.MenuDto">
        <id column="menu_code" property="menuCode"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_price" property="menuPrice"/>
        <result column="category_code" property="categoryCode"/>
        <result column="orderable_status" property="orderableStatus"/>
    </resultMap>

    <select id="findAll" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
        order by
            menu_code
    </select>

    <select id="findByMenuCode" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
            and menu_code = #{menuCode}
    </select>

    <select id="findByCategoryCode" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
            and category_code = #{categoryCode}
    </select>

    <insert id="insertMenu" useGeneratedKeys="true" keyProperty="menuCode">
        insert into
            tbl_menu (menu_name, menu_price, category_code, orderable_status)
        values(
            #{menuName}, #{menuPrice}, #{categoryCode}, #{orderableStatus}
        )
    </insert>
</mapper>