<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax File Upload</title>
</head>
<body>
    <h1>Ajax File Upload</h1>
    <!-- 이 폼은 제출(동기요청)되지 않고, 비동기요청 처리한다. -->
    <form name="frm">
        파일 : <input type="file" name="upFile" multiple><br>
        파일 설명 : <input type="text" name="description"><br>
        <input type="submit">
    </form>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        /**
         * submit버튼을 눌러 submit이벤트 발생하지만, 폼제출(동기적)이 아닌 비동기적으로 요청처리한다.
         *
         * 비동기 파일업로드
         * - method=post
         * - form[enctype=multipart/form-data]에 상응하는 jQuery.ajax 설정
         *      - FormData객체 사용
         *      - contentType : false
         *      - processData : false
         */
        document.frm.onsubmit = (e) => {
            e.preventDefault(); // 폼 제출방지

            // 비동기 파일 전송을 위해 FormData 클래스를 사용한다.
            const formData = new FormData(e.target); // 폼객체를 전달하면, 폼하위 input태그의  name속성명/속성값이 formData내부에 기록된다.

            // FormData API
            // - 요소 추가 FormData#append(name, value) : 동일한 이름으로 복수개 지정가능
            // - 요소 대체 FormData#set(name, value) : 기존 이름의 value를 덮어쓰기
            // - 요소 제거 FormData#delete(name)
            // - 요소 가져오기 FormData#get(name), FormData#getAll(name)
            // - 요소 존재여부(boolean반환) : FormData#has(name)
            // - 모든 name 가져오기 FormData#keys() : for..of로 순회가능
            // - 모든 value 가져오기 FormData#values() : for..of로 순회가능
            // - 모든 entry(name, value) 가져오기 FormData#entries() : for..of로 순회가능

            // 추가된 요소 확인
            console.log(formData.get("file"));
            console.log(formData.get("description"));

            $.ajax({
                url : "[[@{/upload/formdata}]]",
                type : "POST",
                data : formData,
                contentType : false, // 기본값 application/x-www-form-urlencoded 처리하지 않음.
                processData : false, // 직렬화처리하지 않고, multipart로 처리
                success(data) {
                    alert(data);
                },
                error : console.log
            });
        };
    </script>
</body>
</html>