<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring App w/ OCR API</title>
    <style>
        table { border: 1px solid black; border-collapse: collapse; }
        th, td { border: 1px solid black; padding: 5px 10px; text-align: center; }
    </style>
</head>
<body>
    <h1>Spring App w/ OCR API</h1>
    <form name="fileUploadFrm" method="post">
        <select name="type">
            <option value="general">일반</option>
            <option value="template">템플릿</option>
        </select>
        <input type="file" name="file" accept="image/*" required/>
        <button type="submit">Upload</button>
    </form>
    <h3>OCR 결과</h3>
    <div id="target"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.fileUploadFrm.onsubmit = (e) => {
            e.preventDefault();

            // multipart/form-data 비동기 요청
            const frmData = new FormData(e.target);
            console.log('type = ', frmData.get('type'));
            console.log('file = ', frmData.get('file'));

            if(frmData.get('type') === 'general')
                handleGeneralOcr(frmData);
            else
                handleTemplateOcr(frmData);

        };

        const handleTemplateOcr = (frmData) => {
            $.ajax({
                url : `[[@{/upload}]]`,
                method : 'post',
                data : frmData,
                contentType : false, // multipart/form-data 설정
                processData : false, // multipart/form-data 설정
                success(response) {
                    console.log(response);
                    const {message, data} = response;
                    alert(message);
                    const _data = JSON.parse(data);
                    console.log(_data);

                    const {images : [{
                        fields
                    }]} = _data;

                    const [_name, _job, _dept, _phone, _email] = fields;
                    target.innerHTML = `<table>
                        <tr>
                            <th>Name</th>
                            <td>${_name.inferText}</td>
                        </tr>
                        <tr>
                            <th>Job</th>
                            <td>${_job.inferText}</td>
                        </tr>
                        <tr>
                            <th>Dept</th>
                            <td>${_dept.inferText}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>${_phone.inferText}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>${_email.inferText}</td>
                        </tr>
                    </table>`
                },
                error : console.log
            })
        };

        const handleGeneralOcr = (frmData) => {
            $.ajax({
                url : `[[@{/upload}]]`,
                method : 'post',
                data : frmData,
                contentType : false, // multipart/form-data 설정
                processData : false, // multipart/form-data 설정
                success(response) {
                    console.log(response);
                    const {message, data} = response;
                    alert(message);
                    const _data = JSON.parse(data);
                    console.log(_data);

                    const {images : [{
                        fields
                    }]} = _data;

                    document.querySelector("#target").innerHTML =
                        fields.reduce((html, {inferText}) => {
                            return html + "<p>" + inferText + "</p>";
                        }, "");

                },
                error : console.log
            })
        };

    </script>

</body>
</html>