<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.menu.model.dao.MenuMapper">
    <select id="findAll" resultType="menuDto">
        select * from tbl_menu order by menu_code </select>
    <select id="findByMenuCode" resultType="menuDto">
        select * from tbl_menu where menu_code = #{menuCode} </select>
    <!-- 작성한 속성명은 필드이름이 아니다. private 필드라 직접 접근 불가 -->
    <!-- 실제로는 getter를 사용. getter의 get을 제외하고, 소문자로 시작하는 이름을 작성한 것 -->
    <!-- 이를 property 접근방식이라함. (OGNL 표준) -->
    <!-- useGeneratedKeys= true를 통해 auto_increment값을 가져온다. 전달된 객체 menuDto#menuCode에 대입 -->
    <insert id = "insertMenu" useGeneratedKeys="true" keyProperty="menuCode"> <!-- type은 int로 정해져있어 생략-->
        insert into
            tbl_menu
        values(
            null,#{menuName},#{menuPrice},#{categoryCode}, #{orderableStatus}
        )
    </insert>
</mapper>