<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>expression</title>
</head>
<body>
    <h1>expression</h1>

    <!--
        제공되는 표현식 종류
        변수 표현식(Variable Expressions): ${...}
        선택 변수식(Selection Variable Expressions): *{...}
        메시지 표현식(Message Expressions): #{...}
        링크 표현식(Link URL Expressions): @{...}
        조각 표현식(Fragment Expressions): ~{...}
        인라인 표현식(Inline Expressions): [[...]] [(...)]
    -->

    <h2>변수 표현식</h2>
    <p th:text="${text}">실제 태그의 내용부분에 작성해도 th:text부분에 의해서 덮어쓰게 된다. 태그는 escaping처리를 자동으로 해준다. (XSS공격 대비)</p>
    <p th:utext="${text}">escaping처리 없이 html 파싱</p>
<!--    <p th:text="|<script>alert('님 정보는 이제 내꺼임😛')</script>|">XSS 공격</p></body>--> <!-- text와 utext의 차이를 알기 -->
    <p th:utext="|<script>alert('님 정보는 이제 내꺼임😛')</script>|">XSS 공격</p></body>

    <!-- 사용자 입력값-->
    <p th:text="${param.title}"></p>
    <p th:text="${param.no[0]}"></p>
    <p th:text="${param.no[1]}"></p>

    <!-- model에 담긴 데이터가 객체인 경우, 속성에 접근 가능하다 -->
    <p th:text="${member}">Member(id=1, name=홍길동, age=33, regDate=2024-06-17)</p>
    <p th:text="${member.id}"></p>
    <p th:text="${member.name}"></p>
    <p th:text="${member.age}"></p>
    <p th:text="${member.regDate}"></p>

    <h2>선택변수 표현식</h2>
    <div th:object="${member}">
        <p th:text="*{id}"></p>
        <p th:text="*{name}"></p>
        <p th:text="*{age}"></p>
        <p th:text="*{regDate}"></p>
        <p th:object="${member}"></p>
    </div>
    <p th:object="${member}" th:text="*{id}"></p>
    <p th:object="${member}" th:text="*{name}"></p>
    <p th:object="${member}" th:text="*{age}"></p>
    <p th:object="${member}" th:text="*{regDate}"></p>

    <h2>링크표현식</h2>
    <a href="@{/thymeleaf/expression}">표현식</a>

    <h2>메시지 표현식</h2>
        <table>
            <thead>
            <th th:text="#{label.user.id}"></th>
            <th th:text="#{label.user.name}"></th>
            <th th:text="#{label.user.age}"></th>
            <th th:text="#{label.user.regDate}"></th>
            </thead>
        </table>

    <h2>HTML 속성 사용하기</h2>
    <input type="text" th:value="${member.name}"/>

    <h2>인라인표현식</h2>
    <p>[[${member.id}]]</p>
    <p>[[${member.name}]]</p>
    <p>[[${member.age}]]</p>
    <p>[[${member.regDate}]]</p>
</html>