<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh._03_spring_crud.menu.model.dao.MenuMapper">
    <resultMap id="menuDtoMap" type="MenuDto">
        <id column="menu_code" property="menuCode"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_price" property="menuPrice"/>
        <result column="category_code" property="categoryCode"/>
        <result column="orderable_status" property="orderableStatus"/>
        <result column="category_name" property="categoryName"/>
    </resultMap>
    <resultMap id="categoryDtoMap" type="CategoryDto">
        <id column="category_code" property="categoryCode"/>
        <result column="category_name" property="categoryName"/>
        <result column="ref_category_code" property="refCategoryCode"/>
    </resultMap>

    <select id="findAll" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
        order by
            menu_code
    </select>

    <select id="findByMenuCode" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
            and menu_code = #{menuCode}
    </select>

    <select id="findByCategoryCode" resultMap="menuDtoMap">
        select
            *
        from
            tbl_menu
        where
            orderable_status = 'Y'
            and category_code = #{categoryCode}
    </select>

    <insert id="insertMenu" useGeneratedKeys="true" keyProperty="menuCode">
        insert into
            tbl_menu (menu_name, menu_price, category_code, orderable_status)
        values(
            #{menuName}, #{menuPrice}, #{categoryCode}, #{orderableStatus}
        )
    </insert>

<!--/* resultMap이나 resultType 중 하나는 반드시 사용할 것 */-->
    <select id="getAllCategory" resultMap="categoryDtoMap">
        select
            *
        from
            tbl_category
        where
            ref_category_code;
    </select>

    <select id="findAll2" resultMap="menuDtoMap">
        select
            menu_code,
            menu_name,
            menu_price,
            category_name,
            orderable_status
        from
        tbl_menu a join tbl_category b on a.category_code = b.category_code;
    </select>
</mapper>