<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>etc</title>
</head>
<body>
 <h1>etc</h1>
<h2>변수 선언 th:with</h2>
<!-- 특정범위에 사용가능한 변수를 선언할 수 있다.-->
 <th:block th:with="start=${pageCriteria.startPage}, last=${pageCriteria.lastPage}, current=${pageCriteria.currentPage}">
    <th:blcok th:each="n : ${#numbers.sequence(start, last)}">
        <button th:if="${n eq current}" disabled>[[${current}]]</button>
        <button th:if="${n ne current}" th:onclick="|alert(${n})|">[[${n}]]</button>
    </th:blcok>
 </th:block>
</body>
</html>