.box {
  width: 300px;
  height: 300px;
  border: 3px solid #000;
  background-color: greenyellow;
}

body:hover .box{
    animation-name: my-keyframes;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes my-keyframes {
  /* keyframe 블럭*/
  /* from ~ to */
  /* 10% 20% 30%...100% */
  0%{
    transform: rotate(0deg);
  }

  25% {
    transform: translate(300px, 0) rotate(90deg);
  }
  50% {
    /* 기존 상태 대비 작성 */
    transform: translate(300px, 300px) rotate(180deg);
  }
  75% {
    transform: translate(0, 300px) rotate(90deg);
  }
  100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

.img-wrapper{
    margin-top: 50px;
}

.img-wrapper img{
    width: 300px;
    border-radius: 50%;
}

body:hover .img-wrapper {
    animation-name : my-keyframes;
    animation-duration: .7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes spinner{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(180deg);
    }
}