<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>인덱스</title>
</head>
<body>
    <main layout:fagment="main">
        <div>
            <a th:href="@{/menu/list}">메뉴조회</a>
        </div>
        <div>
            <a th:href="@{/menu/regist}">메뉴 신규 등록</a>
        </div>
        <div>
            <a th:href="@{/order/create}">주문</a>
        </div>
    </main>
</body>
</html>