<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring CRUD</title>
</head>
<body>
    <header th:fragment="headerFragment">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Spring CRUD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                        <a class="nav-link" th:href="@{/js/menu/list}">메뉴 조회</a>
                        <a class="nav-link" th:href="@{/js/menu/regist}">메뉴 신규 등록</a>
                        <a class="nav-link" th:href="@{/order/create}">주문</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <script th:fragment="js" th:src="@{js/menu/regist.js}"></script>
</body>
</html>