<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.menu.model.dao.CategoryMapper">
    <select id="findAllCategory" resultType="com.sh.menu.model.dto.CategoryDto">
        select
            *
        from
            tbl_category
    </select>


</mapper>