<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <!--/* th:fragment를 가져와 대체*/ -->
    <header th:replace="~{/fragments/header::headerFragment}"></header>
    <main>
      <div layout:fragment="content"></div>
    </main>
    <aside th:replace="~{/fragments/aside::asideFragment(1,2)}"></aside>
    <footer th:replace="~{/fragments/footer::footerFragment}"></footer>
    <script layout:fragment="script"></script>
</body>
</html>