<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<!--th:fragment와 layout:을 구분해서 쓰라고 하셨다-->
<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">메인페이지</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/menu/list}">메뉴리스트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menu/regist}">메뉴등록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/order/create}">오더페이지</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>