<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>6. file upload</title>
</head>
<body>
    <h1>6. file upload</h1>
    <!--서버에 파일 업로드를 위해서는 http 요청메세지 작성 방식을 multipart 방식으로 지정해야 한다.-->
    <form th:action="@{/singleFile}" method="post" enctype="multipart/form-data">
        파일 : <input type="file" name="singleFile"><br>
        파일 설명 : <input type="text" name="singleFileDescription"><br>
        <input type="submit">
    </form>
    <form th:action="@{/multiFile}" method="post" enctype="multipart/form-data">
        파일 : <input type="file" name="multiFile" multiple><br>
        파일 설명 : <input type="text" name="multiFileDescription"><br>
        <input type="submit">
    </form>
</body>
</html>