<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>expression</title>
</head>
<body>
    <h1>expression</h1>

    <!--  thymeleaf주석은 html주석과 동일하다.  -->
    <!--  <p th:test="안녕"></P>  -->

    <!--  parser-level 주석 : 응답 html작성시 제거되는 주석  -->
    <!--  개발자만 볼 수 있게 함  -->
    <!--/* 주석 내용 - 저는 클라이언트에 전달되지 않습니다. 민감한 서버 정보는 저를 사용하세요. */-->

    <!--  prototype-only 주석 : 응답 html 처리시 화면에 노출되는 주석 -->
    <!--/*/ 주석내용 /*/-->

    <!--
        제공되는 표현식 종류
        변수 표현식(Variable Expressions): ${...}
        선택 변수식(Selection Variable Expressions): *{...}
        메시지 표현식(Message Expressions): #{...}
        링크 표현식(Link URL Expressions): @{...}
        조각 표현식(Fragment Expressions): ~{...}
        인라인 표현식(Inline Expressions): [[...]] [(...)]
     -->
    <h2>변수 표현식</h2>
    <p th:text="${text}">실제 태그의 내용부분에 작성해도 th:text에 의해서 덮어쓰기 된다. 태그는 escaping처리 (XSS공격 대비)</p>
    <p th:utext="${text}">escaping처리 없이 html 파싱</p>
    <p th:utext="| <script>alert('님 정보는 이제 내것임 -_-b')</script>|">XSS 공격</p>

    <!-- 사용자 입력값 /thymeleaf/expression?title=표현식&no=10&no=20 -->
    <p th:text="${param.title}"></p>
    <p th:text="${param.no[0]}"></p>
    <p th:text="${param.no[1]}"></p>

    <!-- model에 담긴 데이터가 객체인 경우, 속성에 접근 가능 -->
    <p th:text="${member}"></p>
    <p th:text="${member.id}"></p>
    <p th:text="${member.name}"></p>
    <p th:text="${member.age}"></p>
    <p th:text="${member.regDate}"></p>

    <h2>선택변수 표현식</h2>
    <div th:object="${member}">
        <p th:text="*{id}"></p>
        <p th:text="*{name}"></p>
        <p th:text="*{age}"></p>
        <p th:text="*{regDate}"></p>
    </div>
    <p th:object="${member}" th:text="*{id}"></p>
    <p th:object="${member}" th:text="*{name}"></p>
    <p th:object="${member}" th:text="*{age}"></p>
    <p th:object="${member}" th:text="*{regDate}"></p>

    <h2>링크 표현식</h2>
    <a th:href="@{/thymeleaf/expression}">표현식</a>

    <h2>메세지 표현식</h2>
    <p th:text="#{member.id}"></p> <!-- 이건 properties에서 가져온 거 -->
    <p th:text="#{member.name}"></p>
    <table>
        <thead>
        <th th:text="#{label.user.id}"></th>
        <th th:text="#{label.user.name}"></th>
        <th th:text="#{label.user.age}"></th>
        <th th:text="#{label.user.regDate}"></th>
        </thead>
    </table>

    <h2>HTML속성 사용하기</h2>
    <input type="text" th:value="${member.name}"/>

    <h2>인라인표현식</h2>
    <!--/*
        html태그 또는 script태그 안에서 인라인 표현식을 활용할 수 있다.
        [[${..}]] th:text와 유사하게 작동한다.
        [(${...})] th:utext와 유사하게 작동한다.

        html 태그 안에서 th:inline="text" 선언없이도 인라인 표현식 가능
        scipt 태그 안에서 th:inline="javascript" 선언없이도 인라인 표현식 가능
       */-->
    <p th:inline="text">[[${member.id}]]</p>
    <p>[[${member.name}]]</p>
    <p>[[${member.age}]]</p>
    <p>[[${member.regDate}]]</p>
    <p>[[${text}]]</p>
    <p th:text="${text}"></p>
    <p>[(${text})]</p>
    <p th:utext="${text}"></p>
    <script th:inline="javascript">
        let text = `[[${text}]]`;
        console.log(text);
        let text2 = `[[${text}]]`;
        console.log(text2)
    </script>

    <h2>문자열 연결 연산</h2>
    <h3>+</h3>
    <p th:text="'이름은 ' + ${member.name}"></p>
    <h3>||</h3>
    <p th:text="|이름은 ${member.name}|"></p>

    <h2>th:block</h2>
    <!-- 시각화되지 않는 태그. 그룹/범위를 지정하기 위해 사용한다.-->
    <th:block th:object="${member}">
        <p th:text="*{id}"></p>
    </th:block>
    <th:block th:if="${true}">
        <p>🍕🍕🍕</p>
    </th:block>
</body>
</html>