.box{
    width: 100px;
    height: 100px;
    background-color: blue;

    transition-duration: 0.5s;
    transition-property: width;
    transition-delay: 0.2s;
}

.box:hover{
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.card {
    display: inline-block;
    width: 380px;
    height: 380px;
    margin: 10px;
    padding: 30px;
    background-color: #99aeff;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    box-shadow: 0 35px 77px -17px rgba(0, 0, 0, .4);
    transition-duration: .3s;
  }
  .card h1 {
    font-weight: 300;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
  }
  .card h2 {
    font-weight: 300;
    margin-top: 20px;
    font-style: italic;
    opacity: .7;
    transform: translate(-80px);
    transition-delay: 0.1s;
  }
  .card p {
    font-weight: 300;
    margin-top: 20px;
    line-height: 24px;
    transform: translate(+300px);
    opacity: .5;
    transition-delay: 0.1s;
  }
  .card:hover .transition{
    transform: translate(0,0);
    opacity: 1;
  }
  .transition {
    transition-duration: .7s;
  }
  .card:hover {
  box-shadow: 0 35px 77px -17px rgba(0, 0, 0, .7);
}