<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 결과</title>
</head>
<body>
    <h1>로그인 결과</h1>
    <th:block th:if="${session.id != null}">
    <h2 th:text="|${session.id}님, 환영합니다✨✨|"></h2>

    <!-- @SessionAttributes를 사용하여 session을 저장하는 곳과 HttpSession을 사용하여 저장하는 session 공간은 다르다. -->
    <!--
        HttpSession#invalidate()를 호출하지만, @SessionAttributes로 등록된 속성을 삭제하지 않는다.
        Thymeleaf가 참조하는 ${session.id}의 값은 유지된다.
     -->
    <button th:onclick="|location.href = '@{/first/logout}'|">HttpSession 로그아웃</button>
    <button th:onclick="|location.href = '@{/first/logout2}'|">@SessionAttributes 로그아웃</button>
    </th:block>
    <th:block th:unless="${session.id != null}">
        <a th:href="@{/first/login}">먼저 로그인 해주세요...</a>
    </th:block>
</body>
</html>